/* 
Rodin Mobile Theme v1
CSS Document
*/
 
/* ----------------------- SUMMARY -----------------------

- GOOGLE WEB FONT

- RESET SETTINGS

- GENERAL LAYOUT
  - CLEAR FLOATED ELEMENTS
  - MAIN LINK PROPERTIES
  
- LIST STYLES
  - NUMBERED LIST
  - START LIST
  - CHECK LIST
  - BULLET LIST

- BUTTONS
- TEXT AREA
- HIGHLIGHT STYLES
- IMAGES ALIGNMENT & STYLING
- CUSTOM MESSAGE STYLING

- SLIDER CONFIGURATION ( Into the assets>css>flexyslider.css )

- TAB MENU

- UI ELEMENTS

- SUB PAGES PHOTO CONFIG

- CONTACT FORM ELEMENTS

- MAIN MENU CONFIG

- PHOTO SWIPE GALLERY
  
- CONTAINERS
  
*/

/*--------------------------------------------------
GOOGLE WEB FONT
---------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Francois+One); 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400, 600, 800); 

/*--------------------------------------------------
RESET SETTINGS
---------------------------------------------------*/
@import url("reset.css"); 

/*--------------------------------------------------
GENERAL LAYOUT
---------------------------------------------------*/
body{margin:0px; font-size:12px; font-family:'Open Sans',sans-serif; line-height:20px; font-smooth:always;background-image: url(../images/themes/black/bg-main.png); background-repeat:repeat;}
a{font-family:'Francois One'; font-size:12px; font-smooth:always}
p{font-size:12px; font-family:'Open Sans',sans-serif; padding-bottom:11px; font-smooth:always}
h1, h2, h3, h4, h5, h6{font-family:'Francois One'; margin-bottom:5px; font-smooth:always}
li{font-family:'Open Sans',sans-serif; line-height:18px; font-smooth:always}

h1{font-size:26px; line-height:32px; font-smooth:always}
h2{font-size:22px; line-height:26px; font-smooth:always}
h3{font-size:18px; font-smooth:always}
h4{font-size:14px; line-height:16px; font-smooth:always}
h5{font-size:12px; margin-bottom:5px; font-smooth:always}
h6{font-size:10px; padding:0px; font-smooth:always}

.center{text-align:center}
.left{float:left}
.right{float:right}

	/*--------------------------------------------------
	CLEAR FLOATED ELEMENTS
	---------------------------------------------------*/
	/* http://sonspring.com/journal/clearing-floats */
	.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0}
	/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
	.clearfix:after{clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0}
	/* Hides from IE-mac */
	* html .clearfix { height: 1%;}
	.clearfix {
	display: block;
	height: 5px;}
	/* End hide from IE-mac */
	.hr{background-image:url(../images/hr.png); height:2px; background-repeat:repeat-x; margin-bottom:12px; margin-left:12px; margin-right:12px}
	.hr-full{background-image:url(../images/hr.png); height:2px; background-repeat:repeat-x; padding-bottom:12px}
	.hr-full-nopad{background-image:url(../images/hr.png); height:2px; background-repeat:repeat-x;}


	/*--------------------------------------------------
	MAIN LINK PROPERTIES
	---------------------------------------------------*/
	a, a:link, a:visited{ text-decoration:none}
	a:hover{ text-decoration:none}
	a img, img{ border:none}
	
/*--------------------------------------------------
LIST STYLES
---------------------------------------------------*/
	/*--------------------------------------------------
	NUMBERED LIST
	---------------------------------------------------*/
	ol{ margin:20px 0 20px 25px;  list-style-type:decimal}
	ol li{ font-size:12px;  margin:2px 0;  padding-bottom:3px}
	
	/*--------------------------------------------------
	STAR LIST
	---------------------------------------------------*/
	.starlist{  margin-bottom:10px}
	.starlist li{  margin:3px 0;   padding-bottom:3px;   padding-left:22px;    background:url(../images/star.png) 0 2px no-repeat;  border-bottom:1px solid #dfdfdf}
	/*--------------------------------------------------
	CHECK LIST
	---------------------------------------------------*/
	.checklist{  margin-bottom:10px}
	.checklist li{  margin:3px 0;   padding-bottom:3px;   padding-left:22px;    background:url(../images/tick.png) 0 4px no-repeat;  border-bottom:1px solid #dfdfdf}
	/*--------------------------------------------------
	BULLET LIST
	---------------------------------------------------*/
	.bulletlist{  margin-bottom:10px}
	.bulletlist  li{  margin:3px 0;   padding-bottom:3px;   padding-left:22px;    background:url(../images/bullet.png) 0 5px no-repeat;  border-bottom:1px solid #dfdfdf}
	
/*--------------------------------------------------
BUTTONS
---------------------------------------------------*/
.rodin, .rodin:visited, .rodin:link {
	background: #222 url(../images/alert-overlay.png) repeat-x; display: inline-block; padding: 5px 10px 6px; color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25); position: relative;	cursor: pointer; }
.rodin:hover { background-color: #111; color: #fff; }
.rodin:active { top: 1px; color: #fff; }

/* Sizes */
.small.rodin, .small.rodin:visited { font-size: 11px; padding: ; }
.rodin, .rodin:visited,
.medium.rodin, .medium.rodin:visited { font-size: 13px; line-height: 1; }
.large.rodin, .large.rodin:visited { font-size: 14px; padding: 8px 14px 9px; }

/* Text Alignments */
.right.rodin, .right.rodin:visited { text-align:right; }

/* Colors */
.green.rodin, .green.rodin:visited { background-color: #91bd09; }
.green.rodin:hover { background-color: #749a02; }
.blue.rodin, .blue.rodin:visited { background-color: #2daebf; }
.blue.rodin:hover { background-color: #007d9a; }
.red.rodin, .red.rodin:visited { background-color: #e33100; }
.red.rodin:hover { background-color: #872300; }
.magenta.rodin, .magenta.rodin:visited { background-color: #a9014b; }
.magenta.rodin:hover { background-color: #630030; }
.orange.rodin, .orange.rodin:visited { background-color: #ff5c00; }
.orange.rodin:hover { background-color: #d45500; }
.yellow.rodin, .yellow.rodin:visited { background-color: #ffb515; }
.yellow.rodin:hover { background-color: #fc9200; }

/*--------------------------------------------------
TEXT AREA
---------------------------------------------------*/
.text-box-area{background-color:#E0E0E0; -moz-box-shadow:0px 0px 1px 2px #333; -webkit-box-shadow:0px 0px 1px 1px #333; box-shadow:0px 0px 1px 1px #333; display:block; padding-top:15; margin-right:-8px; padding-bottom:15; margin-left:-8px; padding-left:10px; padding-right:10px}
.text-title{font-size:13px; font-weight:bold; color:#9B1D1B; background-color:#E0E0E0; padding-top:10px; padding-bottom:10px}
.text-info{background-color:#E0E0E0; color:#9B1D1B; padding-top:10px; padding-bottom:10px; padding-right:10px}
.text-info a img{width:98%; height:auto}

/*--------------------------------------------------
HIGHLIGHT STYLES
---------------------------------------------------*/
.highlight-yellow{padding:1px 4px; background-color:yellow; color:#111}
.highlight-dark{padding:1px 4px; background-color:#6a6a6a; color:#fff}
.highlight-red{padding:1px 4px; background-color:#DE2D2D; color:#fff}
.highlight-green{padding:1px 4px; background-color:#A3CC29; color:#111}

/*--------------------------------------------------
IMAGES ALIGNMENT & STYLING
---------------------------------------------------*/
.align-left{float:left;  margin:5px 15px 0 0}
.align-right{float:right;  margin:5px 0 5px 15px}
.align-center{margin-left:auto;  margin-right:auto;  margin-bottom:15px;  display:block}
.imgbox{padding:2px; border:1px solid #F4CACA; background-color:#E0E0E0}

/*--------------------------------------------------
CUSTOM MESSAGE STYLING
---------------------------------------------------*/
.info{font-size:12px; color:#246EA7; background:#DFECF7 url(../images/info.png) .5em .4em no-repeat; border:1px solid #A7CEEC; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -moz-box-shadow:0 0 6px #aaa; -webkit-box-shadow:0 0 6px #aaa; margin-top:15px; margin-right:0; margin-bottom:15px; margin-left:0; padding-top:10px; padding-right:12px; padding-bottom:10px; padding-left:47px}

.error{margin:15px 0; font-size:12px; color:#C92036; padding:10px 12px 10px 47px; background:#FAE1E1 url(../images/error.png) .5em .4em no-repeat; border:1px solid #EDA8A8; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -moz-box-shadow:0 0 6px #aaa; box-shadow:0 0 6px #aaa; -webkit-box-shadow:0 0 6px #aaa}

.warning{margin:15px 0; font-size:12px; color:#E08820; padding:10px 12px 10px 47px; background:#FDF4D7 url(../images/warning.png) .5em .4em no-repeat; border:1px solid #E8C779; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -moz-box-shadow:0 0 6px #aaa; box-shadow:0 0 6px #aaa; -webkit-box-shadow:0 0 6px #aaa}

.success, 
.success-message{margin:15px 0; font-size:12px; color:#84AF22; padding:10px 12px 10px 47px; background:#E6F2D2 url(../images/ok.png) .5em .4em no-repeat; border:1px solid #96C24A; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -moz-box-shadow:0 0 6px #aaa; box-shadow:0 0 6px #aaa; -webkit-box-shadow:0 0 6px #aaa}

/*--------------------------------------------------
TAB MENU
---------------------------------------------------*/
.tab-menu{color:#111; margin-right:-16px; margin-left:-8px; border-right-width:1px; border-bottom-width:1px; border-left-width:1px; border-right-color:#661615; border-bottom-color:#661615; border-left-color:#661615; width:100%}
.tab-menu-ul li{list-style:none; float:left}
.tab-menu-ul a{display:block; padding:6px 10px; text-decoration:none!important; margin:1px; margin-left:0; color:#CCC; font-size:12px; font-weight:600; background-color:#2D1E1A}
.tab-menu-ul a:hover{background:#2D1E1A}
.tab-menu-ul a.selected{margin-bottom:0; color:#FFF; cursor:default; background-color:#666; border-bottom-width:1px; border-bottom-style:dashed; border-bottom-color:#333}
.tab-menu .tab-content{clear:left; background:#E0E0E0; -moz-box-shadow:0px 0px 1px 2px #333; -webkit-box-shadow:0px 0px 1px 1px #333; box-shadow:0px 0px 1px 1px #333; padding-top:10px; padding-bottom:8px; padding-right:10px; padding-left:10px; margin-right:-12px}

/*--------------------------------------------------
UI ELEMENTS
---------------------------------------------------*/
.ui-collapsible-content{background-color:#E0E0E0; color:#9B1D1B}
.ui-btn-inner{background-image:url(../images/themes/black/bg-button.png); background-repeat:repeat-x}
.ui-btn-text{font-size:14px}

.ui-collapsible .ui-collapsible-heading .ui-btn{border-top-width:1px !important}
.ui-btn{font-family:'Francois One'; font-size:12px; font-smooth:always}
.ui-overlay {background-image: url(../images/themes/black/bg-main.png); background-repeat:repeat;}
/*--------------------------------------------------
SUB PAGES PHOTO CONFIG
---------------------------------------------------*/
.sub-photo-container{max-width:1024px; margin-right:auto; margin-left:auto; margin-top:0px; margin-bottom:0px; z-index:-1 !important}
.sub-photo img{width:100%; display:block; height:auto}

/*--------------------------------------------------
CONTACT FORM ELEMENTS
---------------------------------------------------*/
#contact_form{ padding-top:10px; padding-bottom:10px}
#contact_form div{margin-left:auto; margin-right:auto; width:100%}
.input-area, 
.textarea{width:100%; padding-left:4%; padding-right:4%; padding-top:10px; padding-bottom:10px; color:#3A2826; font:11px Arial; -webkit-box-shadow:inset 0 0 6px #141212,1px 1px #CCC; -moz-box-shadow:inset 0 0 6px #141212,1px 1px #CCC; -ms-box-shadow:inset 0 0 6px #141212,1px 1px #CCC; -o-box-shadow:inset 0 0 6px #141212,1px 1px #CCC; box-shadow:inset 0 0 6px #141212,1px 1px #CCC; margin:10px 0; background-color:#333}
.textarea{height:100px; resize:none; margin-bottom:10px}
.formsub{width:100%; color:#600; float:left}
#loader{display:block; margin-left:auto; margin-right:auto}
.cmessage{font-weight:bold; text-align:center}

/*---------------------------------------------------------------------
MAIN MENU CONFIG
---------------------------------------------------------------------*/
.menu-container{width:100%; text-align:center; background-image:url(../images/themes/black/bg-menu.png); background-repeat:repeat-x; background-position:center top; height:107px; margin-top:0px; -moz-box-shadow:2px 0px 5px #000; -webkit-box-shadow:2px 0px 5px #000; box-shadow:2px 0px 5px #000; z-index:1 !important; position:relative;}
.menu-container .slides{list-style:none; margin:0px; line-height:20px; padding-top:17px; padding-right:0px; padding-bottom:0px; padding-left:0px}
.menu-container .slides li{list-style:none; display:inline-block; width:68px; height:85px; margin-top:0px; margin-bottom:10px; text-align:center}
.menu-container .slides li a span{padding-top:60px; display:block; text-align:center; text-shadow:0px -1px 0px #000}

/*---------------------------------------------------------------------
PHOTO SWIPE GALLERY
---------------------------------------------------------------------*/
.gallery{list-style:none; padding:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:-8}
.gallery:after{clear:both; content:"."; display:block; height:0; visibility:hidden}
.gallery li{float:left; width:33.33333333%}
.gallery li a{display:block; margin:5px}
.gallery li img{display:block; width:100%; height:auto; -webkit-box-shadow:0 1px 0 rgba(255,255,255,.2),inset 0 4px 5px rgba(0,0,0,.6),inset 0 1px 0 rgba(0,0,0,.6); -moz-box-shadow:0 1px 0 rgba(255,255,255,.2),inset 0 4px 5px rgba(0,0,0,.6),inset 0 1px 0 rgba(0,0,0,.6); box-shadow:0 1px 0 rgba(255,255,255,.2),inset 0 4px 5px rgba(0,0,0,.6),inset 0 1px 0 rgba(0,0,0,.6); -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px}

/*---------------------------------------------------------------------
CONTAINERS
---------------------------------------------------------------------*/
/* Header */
.header-container{width:100%; height:72px; background-image:url(../images/themes/black/bg-header.png); background-repeat:repeat-x; background-position:center top; z-index:999; box-shadow:#666}
.header-title{position:absolute; left:5px; top:15px; background-image:url(../../images/cc/logo.jpg); background-repeat:no-repeat; height:45px; width:95px}
/* Home Button Container */
.home-container{position:absolute; margin:0px; padding:0px; right:10px; top:20px}
/* Social Buttons */
.social-container{position:absolute; margin:0px; padding:0px; right:10px; top:20px}
/* Main Container & Content */
.container{display:block; margin-left:10px; margin-right:10px; margin-bottom:20px}
.content{width:100%; margin-right:auto; margin-left:auto}
/* Map Container */
.map-container{margin-right:auto; margin-left:auto; background-color:#FFF}
